<button
  class="ProfileMenu-trigger"
  type="button"
  [matMenuTriggerFor]="menu"
  aria-label="Account menu"
  aria-haspopup="menu"
  title="Account menu"
>
  @if (initial(); as letter) {
    <span class="ProfileMenu-avatar" aria-hidden="true">{{ letter }}</span>
  } @else {
    <mat-icon class="ProfileMenu-avatar-icon">account_circle</mat-icon>
  }
</button>

<mat-menu #menu="matMenu" xPosition="before">
  @if (currentUser.me(); as me) {
    <div class="ProfileMenu-header">
      <span class="ProfileMenu-name">{{ me.name }}</span>
      @if (me.email) {
        <span class="ProfileMenu-email">{{ me.email }}</span>
      }
    </div>
  }
  <a mat-menu-item routerLink="/profile">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </a>
  <button mat-menu-item type="button" (click)="signOut()">
    <mat-icon>logout</mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>
