<form [formRoot]="settingsForm" class="RegionSettingsForm">
  <div class="RegionSettingsForm-fields">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'settings.form.timezone' | transloco }}</mat-label>
      <select matNativeControl [formField]="settingsForm.timezone">
        @for (option of options().timezone; track option.value) {
          <option [value]="option.value">{{ option.viewValue }}</option>
        }
      </select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'settings.form.language' | transloco }}</mat-label>
      <select matNativeControl [formField]="settingsForm.language">
        @for (option of options().language; track option.value) {
          <option [value]="option.value">{{ option.viewValue }}</option>
        }
      </select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'settings.form.locale' | transloco }}</mat-label>
      <select matNativeControl [formField]="settingsForm.locale">
        @for (option of options().locale; track option.value) {
          <option [value]="option.value">{{ option.viewValue }}</option>
        }
      </select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'settings.form.currency' | transloco }}</mat-label>
      <select matNativeControl [formField]="settingsForm.currency">
        @for (option of options().currency; track option.value) {
          <option [value]="option.value">{{ option.viewValue }}</option>
        }
      </select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'settings.form.theme' | transloco }}</mat-label>
      <select matNativeControl [formField]="settingsForm.theme">
        @for (option of options().theme; track option.value) {
          <option [value]="option.value">{{ option.viewValue }}</option>
        }
      </select>
    </mat-form-field>
  </div>

  <div class="RegionSettingsForm-actions">
    <ng-content select="[regionSettingsFormActions]" />
    <button matButton="filled" type="submit" [disabled]="saving() || !changed()">
      {{ (saving() ? 'common.saving' : 'common.save') | transloco }}
    </button>
  </div>
</form>
